# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
.venv
venv

# IDE
.idea
.vscode
*.swp
*.swo

# Testing
.pytest_cache
.coverage
htmlcov

# Build
*.egg-info
dist
build

# Local env files
.env
.env.dev
.env.prod
.db-initialized

# Docker
docker-compose*.yml
compose.yaml
.dockerignore

# Scripts
fai.sh
fai.ps1
fai
fai.bat
